<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.


-->

<!-- Modified by Christopher Pereyda for the purpose of RAS-project -->

<launch>
  <arg name="map_path" default="$(find ras_navigation)/Data/map.pbstream"/>

  <!-- Our LiDAR outputs scan and cartographer accepts LaserScan topic names -->
  <remap from="scan" to="LaserScan"/>



  <node pkg="ras_navigation" name="save_map" type="saveMap2.py" output="screen">
    <param name="filename" value="$(arg map_path)"/>
  </node>



  <!-- The main cartographer_node, it creates a link for map->odom and provides odom data-->
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find ras_navigation)/params/cartographer_params
          -configuration_basename Cartographer_params.lua
          -map_filename $(find ras_navigation)/Data/map.pbstream"
      output="screen">
  </node>

  <!-- This node acctually sends out the occupancy grid for map topic-->
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
type="cartographer_occupancy_grid_node" args="-resolution 0.05" />




  <!-- This is just to view what is happening, good for debugging whats not working -->
  <node name="rviz" pkg="rviz" type="rviz" required="true"
     args="-d $(find ras_navigation)/params/rviz/demo_3d.rviz"/>


  <!-- Move base -->
  <include file="$(find ras_navigation)/params/move_base_params/move_base_launcher.xml"/>
  <!-- These can be run seperatly, put here for all-in-one launch file -->

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>

</launch>
